@using Microsoft.AspNetCore.Identity
@using Rospand_IMS.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="user-nav">
        <div class="dropdown">
            <button class="user-dropdown dropdown-toggle" type="button" id="userMenu" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user-circle me-2"></i>
                @UserManager.GetUserName(User)
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                        <i class="fas fa-user-cog me-2"></i> Profile
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="dropdown-item">
                            <i class="fas fa-sign-out-alt text-danger me-2"></i> Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">
        <i class="fas fa-sign-in-alt me-2"></i> Login
    </a>
}